<div class="home-component">
    <header>
        <a href="//gmail.com">Gmail</a>
        <a href="https://www.google.com/imghp">Images</a>
        <mat-icon>apps</mat-icon>
        <button>Sign in</button>
    </header>

    <main>
        <img src="assets/google-icon.png" alt="google-icon">
        <div class="search-box">
            <form #form="ngForm" (ngSubmit)="submit(form)">
                <app-search (currentValue)="setSearchTerm($event)"></app-search>
            </form>
        </div>
        <div class="g-buttons">
            <button>Google Search</button>
            <button>I'm Feeling Luckey</button>

        </div>
    </main>

    <footer><p>Sachintha Kapuge</p></footer>

</div>